---
dist: xenial
language: crystal
crystal:
  - latest
  - nightly
services:
  - docker
env:
  # not working: Failure: Error connecting to 'localhost:1491': Connection refused
  - SONIC_HOST=localhost SONIC_PASSWORD=SecretPassword SONIC_PORT=1491
before_install:
  - docker pull valeriansaliou/sonic:v1.2.3
  - docker run -d -p 1491:1491 -v $TRAVIS_BUILD_DIR/config.cfg:/etc/sonic.cfg valeriansaliou/sonic:v1.2.3
  - shards install

script:
  - crystal spec
